
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 80px;
background:#1f2a44;
color:white;
}

.navbar nav a{
color:white;
text-decoration:none;
margin:0 15px;
font-size:14px;
}

.navbar nav a:hover{
color:#00c3ff;
}

.logo{
font-weight:bold;
font-size:18px;
}

.buttons button{
padding:6px 14px;
border:none;
margin-left:8px;
cursor:pointer;
}

.btn1{
background:transparent;
color:white;
border:1px solid white;
}

.btn2{
background:#3ecf8e;
color:white;
}
